<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Document</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'wishlist/style.css' %}">
    </head>
    <body>
        <div class="container">
            <nav>
                <a href="/dashboard">Home</a>
                <a href="/logout">Logout</a>
            </nav>
        </div>
        <h1>{{ product.name }}</h1>
        <h3>Users who added this product/item under their wish list:</h3>
        {% for products in users_products %}
        <p>{{product}}</p>
        {% endfor }}
    </body>
</html>